@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/public/background.png); /* Adjust the path as needed */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

body {
  /* background-color: black; */
  color: #f0f0f0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('/public/background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
